# Visual Studio
.vs/
.vscode/
CMakeSettings.json
*.idb
*.pdb
*.hint

# Vanta
build/

# Sandbox
Sandbox/Cache
Sandbox/Scripts/CSharp/Binaries
Sandbox/Scripts/CSharp/Build
Sandbox/Scripts/Native/Binaries
Sandbox/Scripts/Native/Build
